#img-section{
  width: fit-content;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(3, 1r);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas: 
  "img-one img-two img-three";
}

img{
    height: 400px;
    width: 400px;
    border: 7px solid transparent;
    border-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 40%, rgba(0,189,255,1) 100%);
    border-image-slice: 1;
}

button{
  display: flex;
  justify-self: center;
  margin: auto;
  margin-top: 20px;
}

li{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin: 1%;
}

header{
  font-size: 50px;
  
}